/* Place holder for image sizes for now */
img {
    width:300px;
    height:300px;
}




.imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 300px ;
  grid-template-areas: 
  "generatedImage generatedImage"
  "contentImage styleImage"
  ;
  width: 600px;
  background-color: snow;
  margin-bottom: 1rem;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0px 0px 4px grey;
}

.contentImage {
  grid-area: contentImage;
  height: 100%;
  width: 100%;
}

.generatedImage{
  grid-area:generatedImage;
}

.styleImage {
  grid-area: styleImage;
}

.generatedImage img {
  height: 100%;
  width: 100%;
}