/* Place holder for image sizes for now */
img {
    width:300px;
    height:300px;
}




.imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 300px ;
  grid-template-areas: 
  "generatedImage generatedImage"
  "contentImage styleImage"
  ;
  /* width: 100%;
  height: 100%; */
  background-color: inherit;
  margin-bottom: 1rem;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0px 0px 4px grey;
  /* justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto; */
}

.contentImage {
  grid-area: contentImage;
}

.generatedImage{
  grid-area:generatedImage;
}

.styleImage {
  grid-area: styleImage;
}

.generatedImage img {
  height: 100%;
  width: 100%;
}

.share {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.share button{
  font-size: 22px;
  font-weight: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:180px;
  
}

.share button:hover{
  background-position: right center; /* change the direction of the change here */
   color: white;
   text-decoration: none;
}



.btngrad {background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   
 }

 .btngrad:hover{
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


 /* .deleteButton{
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
} */



