h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #2f2f2f;
    margin-bottom: 1rem;
}

.profileArt {
    margin: 50px;
    margin-left: 125px;
    /* justify-content: space-evenly; */
}