.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.label,
.button {
  margin-right: 0.5rem;

}

button {
  justify-content: center;
  align-items: center;
  text-align: center;
}


span{
  font-weight: bolder;
}