.recursiveContainer {
  min-height: 80vh;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 4px;
  margin: auto;
  /* min-height: 100vh; */
  padding: 10px 60px 40px 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px grey;
  width: 1fr;
  height: 1fr;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
}

form {
  display: flex;
  flex-flow: column;
}

.imagesContainer {
  display: grid;
  flex-direction: row;
  
}

.imagesContainer > h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contentImage {
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #dddddd;
}

.contentPreviewImage {
  /* display: none; */
  width: 100%;
}


.styleImage{
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #dddddd;
}

.stylePreviewImage {
  /* display: none; */
  width: 100%;
}


.header{
  padding:0px;
}

.body{
  width:80%;
}

.body {
  cursor:pointer;
  color:black;
}
input[type=file]::file-selector-button {
  border: 1px solid white;
  border-radius: 7px;
  background-color:dodgerblue;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  color:white;
  cursor:pointer;
}

button {
  font-size: 15px;
  font-weight: bold rgb(30, 94, 255);
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-top: 14px;
  float:right;
  cursor: pointer;
  
}