.formContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.formContainer button{
  display:flex;
  float:left;
}
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.inputContainer input {
  width: 100%;
  margin: 8px 0px 10px 0px;
}

