.container {
  margin: auto;
  width: 600px;
  background-color: snow;
  border-top: 3px solid rgb(91, 89, 89);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(91, 89, 89);
  padding:2px 0 0 0;
}

.imgContainer {
  display: flex;
  flex-direction: row;
}

.contentStyle{
  display:flex;
  flex-direction: column;
  
}

.contentStyle img{
  max-width: 100%;
  max-height: 100%;
  width:200px;
  height:200px;
}

.artwork img{
  max-width: 100%;
  max-height:100%;
  width:400px;
  height:400px;
}

.textArea{
  
}

.textArea Button{
  width:600px;
  padding:20px 10px;
  margin:2px 0 0 0;
  max-width: 100%;
  
  align-self: center;
}