.commentCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-right: 20px;
  max-width: 750px;
}

.author {
  margin-top: 17px;
  justify-content: center;
  align-items: left;
  display: flex;
}

.comment {
  flex-direction: column;
  max-width: 50%;
  overflow-wrap: break-word;
}

.text {
  font-weight: normal;
}

.delete {
  cursor: pointer;
}
