.commentCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-right: 20px;
  max-width: 750px;
}

.author {
  margin-top: 17px;
  justify-content: center;
  align-items: left;
  display: flex;
}

.comment {
  flex-direction: column;
  max-width: 50%;
  overflow-wrap: break-word;
}

.text {
  font-weight: normal;
}

.delete {
  cursor: pointer;
}

.commentLike {
  background-color: inherit;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  align-self: right;
}

.commentLike > button {
  display: flex;
  color: black;
  background-color: inherit;
  padding: 2px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.number {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}